#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = webcd

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Create directories
	mkdir -p debian/webcd/usr/share/webcd
	mkdir -p debian/webcd/usr/share/webcd/static/css
	mkdir -p debian/webcd/usr/share/webcd/static/js
	mkdir -p debian/webcd/usr/share/webcd/templates
	mkdir -p debian/webcd/usr/bin
	
	# Install application files
	cp app.py debian/webcd/usr/share/webcd/
	cp -r static/* debian/webcd/usr/share/webcd/static/
	cp -r templates/* debian/webcd/usr/share/webcd/templates/
	
	# Create wrapper script
	echo '#!/bin/sh' > debian/webcd/usr/bin/webcd
	echo 'cd /usr/share/webcd && python3 app.py' >> debian/webcd/usr/bin/webcd
	chmod +x debian/webcd/usr/bin/webcd

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3